
# Firebase
firebase.json
firestore.rules
storage.rules
database.rules.json
.firebaserc
functions/
.env
.env.local

# Next.js
.next/
out/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
