rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Reglas para imágenes de productos
    match /companies/{companyId}/products/{allPaths=**} {
      allow read: if request.auth != null && request.auth.token.companyId == companyId;
      allow write: if request.auth != null && 
                      request.auth.token.companyId == companyId && 
                      (request.auth.token.role == 'admin' || request.auth.token.role == 'primary-admin');
    }

    // Reglas para logos de la empresa
    match /companies/{companyId}/logos/{allPaths=**} {
      allow read: if request.auth != null && request.auth.token.companyId == companyId;
      allow write: if request.auth != null && 
                      request.auth.token.companyId == companyId && 
                      (request.auth.token.role == 'admin' || request.auth.token.role == 'primary-admin');
    }
  }
}
