rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isMemberOfCompany(companyId) {
      return request.auth != null && 
             request.auth.token.companyId.toLowerCase() == companyId.toLowerCase();
    }

    function isAdminOfCompany(companyId) {
      return isMemberOfCompany(companyId) && 
             (request.auth.token.role == 'admin' || request.auth.token.role == 'primary-admin');
    }

    // Path para los logos de la empresa
    match /companies/{companyId}/logos/{allPaths=**} {
      allow read: if isMemberOfCompany(companyId);
      allow write: if isAdminOfCompany(companyId);
    }
    
    // Path para las imágenes de productos
    match /companies/{companyId}/products/{allPaths=**} {
      allow read: if isMemberOfCompany(companyId);
      allow write: if isAdminOfCompany(companyId);
    }
  }
}
