rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // =========================
    // Helpers
    // =========================
    function getUserData() {
      return (request.auth != null && exists(/databases/$(database)/documents/users/$(request.auth.uid)))
             ? get(/databases/$(database)/documents/users/$(request.auth.uid)).data
             : { role: null, companyId: null };
    }

    function isRole(role) {
      return getUserData().role == role;
    }

    function isCompanyMember(companyId) {
      return getUserData().companyId == companyId;
    }

    // =========================
    // Users
    // =========================
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // =========================
    // Company única
    // =========================
    match /companies/{companyId} {
      allow create: if request.auth != null;
      allow read: if isCompanyMember(companyId);
      allow update: if isCompanyMember(companyId) && isRole('admin');

      // Products
      match /products/{productId} {
        allow read: if isCompanyMember(companyId);
        allow create, update, delete: if isCompanyMember(companyId) && isRole('admin');
      }

      // Sales
      match /sales/{saleId} {
        allow read: if isCompanyMember(companyId);
        allow create: if isCompanyMember(companyId) && (isRole('admin') || isRole('employee'));
        allow update: if isCompanyMember(companyId) && isRole('admin');
        allow delete: if false;
      }

      // Categories
      match /categories/{categoryId} {
        allow read: if isCompanyMember(companyId);
        allow create, update, delete: if isCompanyMember(companyId) && isRole('admin');
      }
    }
  }
}
